*{
    margin: 0; 
    padding: 0;
    font-family: 'Oswald', sans-serif ;
 }
 .container{
     display: flex;
     padding-left: 120px;
     padding-right: 120px;
     margin-left: auto;
     margin-right: auto;
     width: 1180px;
     height: 100px;
 }
 
 header{
     /* border-radius: 150px 0px 150px 0px; */
     display: grid;
     height: 100px;
     background-color: wheat;
     position: fixed;
     width: 100%;
     margin-top: -100px;
     /* margin-bottom: 100px; */
     
 }

 .surjo-logo{
     margin-right: 20px;
     margin-top: 10px;
     width: 120px;
     height: 90px;
 }
 .nav-class{
    display: flex;
    width: 1200px; 
    height: 100px;
 }
 .nav-bar{
     width: 790px;
 }
 .nav-bar li{
     display: inline-block;
     color: black;
     font-weight: 900;
     padding-left: 40px;
     padding-top: 37px;
     font-size:19px ;
 }
 a{
     text-decoration: none;
     color: black;
     font-weight: 900;
 }
 a:hover{
     color:rgb(247, 172, 37) ;
     transition: 0.5s;
     cursor: pointer;
 }
 
 .search-icon{
    /* display: flex; */
     padding-top: 40px;
     padding-left: 40px;
 }

  .inp{
    display: none;
    padding-top: 40px;
    padding-left: 40px;
   
  }
  .inp > input{
    height: 30px;
    width: 120px;
    border-radius: 10px;
  }

 li>img{
     width: 20px;
     height: 20px;
 }
 
 li:hover{
     color: rgb(11, 10, 252);
     transition: 0.5s;
     cursor: pointer; 
 }
 li:active{
     color: red;
 }
 img:hover{
     color: rgb(11, 10, 252);
     transition: 0.5s;
     cursor: pointer; 
 }
 i{
     color: black;
 }
 i:hover{
     color: rgb(37, 79, 247);
     transition: 0.5s;
     cursor: pointer;
     transform: scale(1.5);  
 }
 .donate-button{
     width: 250px;
     height: 90px;
     margin-left: 30px;
     margin-top: 25px;
 }
 button{
     background-color: rgb(7, 59, 245);
     border-radius: 30px;
     font-family: 'Oswald';
     font-size: 20px;
     padding: 10px 20px;
     color:white;
     font-weight: bolder;
     border: 3px solid white;
 
 }
 .donate-button > button{
     border: none;
 }
 button:hover{
     background-color: black;
     color: white;
     transition: 0.5s;
 }
 .cld {
    display: none;
    position: absolute;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: black;
    border-radius: 5px;
    color: white;
}

.cld li {
    padding: 5px;
    margin: 0px;
    width: 60px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-weight: 100;
}
.cld >li > a{
    color: white;
}

